@use '../../../../../styles/variables' as *;
.operator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    &:hover {
        opacity: 0.9;
    }
}

.operator:nth-of-type(n) {
    background-color: $bg-main-color;
}

.operator:nth-of-type(3n - 2) {
    background-color: $bg-secondary-solor;
}