html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    height: 100%;
    max-width: 500px;
    margin: auto;
    border: 3px solid;
    background-color: #222;
}
